{% extends 'accounts/base.html' %}
{% block content %}
    <h3>Register Account</h3>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="radio" name="account-type" value="employee" id="employee">
        <label for="employee">Hiring</label>
        <input type="radio" name="account-type" value="employer" id="employer">
        <label for="employer">Wanting to be Hired</label>
        <input type="submit" value="Register">
    </form>
{% endblock %}