{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'portfolios/styles.css' %}">
    </head>
    <body>
        <navbar class="navbar">
            <div class="headliner">
                <h1 class="headliner__title"><span class="title--italicized">Dev</span>folio</h1>
                <p class="headliner__blurb">Get Noticed.</p>
            </div>
            <div class="links">
                <div class="links__login">
                    <a href="{% url 'login' %}">Login</a>
                </div>
                <div class="links__logout">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
                <div class="links__register">
                    <a href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </navbar>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
        <script src="" async defer></script>
    </body>
</html>