{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'portfolios/layouts/layout_1.css' %}">
    <link rel="stylesheet" href="{% static 'portfolios/colors/color_theme_1.css' %}">
</head>

<body>
    <img src="https://placehold.co/200x200/3498db/white" class="pic">
    <div class="portfolio">
        <div class="intro">
            <div class="name">
                <h1 class="portfolio__headliner">John Smith</h1>
                <p class="portfolio__blurb">Software Developer Apprentice at BCCA</p>
            </div>
            <div class="skills">
                <p>Javascript</p>
                <p>Python</p>
                <p>Java</p>
                <p>C#</p>
            </div>
        </div>
        <div class="bio">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet. Ad autem officiis est beatae fuga et dolor recusandae aut saepe dolor? Et
                unde neque aut explicabo magnam et dignissimos odio sit harum repellat aut atque necessitatibus. Nam
                nemo quos eos illum architecto est exercitationem quia et laborum voluptatum quo commodi amet. Est
                explicabo voluptatem est impedit dolores est dignissimos laboriosam qui quibusdam delectus. </p>
            <p>Qui numquam dolor nam voluptatem eius ut doloremque fugit ut nesciunt nihil. Et repellendus internos in
                sint repellat eum inventore vero id fugiat laudantium qui natus libero? </p>
            <p>Ab nostrum rerum est saepe galisum sed architecto nesciunt. Id quia vero sed tenetur nemo id deleniti
                sint aut eveniet necessitatibus et internos accusamus. Et impedit quos ut quisquam odit ea nemo
                reprehenderit! </p>
        </div>

        <div class="experience">
            <h2>Experience</h2>
            <ul>
                <li>C#: 2 Years</li>
                <li>Project Management: 1 Year</li>
            </ul>
        </div>

        <div class="projects">
            <div class="project">
                <h1>Project #1</h1>
                <p class="project__language">C#</p>
                <p>
                    Lorem ipsum dolor sit amet. Aut quia voluptatem ex vero dolores cum sint cumque ut asperiores
                    laborum aut aspernatur repellat cum ipsam quaerat. Et cupiditate natus eos fugiat optio quo mollitia
                    libero! Quo amet distinctio aut suscipit porro et dolorum nisi et inventore debitis vel quaerat
                    voluptatem.
                </p>
                <div class="project__link">
                    <a href="#" > See Project </a>            
                </div>
            </div>
            <div class="project">
                <h1>Project #2</h1>
                <p class="project__language">C#</p>
                <p>
                    Lorem ipsum dolor sit amet. Aut quia voluptatem ex vero dolores cum sint cumque ut asperiores
                    laborum aut aspernatur repellat cum ipsam quaerat. Et cupiditate natus eos fugiat optio quo mollitia
                    libero! Quo amet distinctio aut suscipit porro et dolorum nisi et inventore debitis vel quaerat
                    voluptatem.
                </p>
                <div class="project__link">
                    <a href="#" > See Project </a>            
                </div>
            </div>
            <div class="project">
                <h1>Project #3</h1>
                <p class="project__language">C#</p>
                <p>
                    Lorem ipsum dolor sit amet. Aut quia voluptatem ex vero dolores cum sint cumque ut asperiores
                    laborum aut aspernatur repellat cum ipsam quaerat. Et cupiditate natus eos fugiat optio quo mollitia
                    libero! Quo amet distinctio aut suscipit porro et dolorum nisi et inventore debitis vel quaerat
                    voluptatem.
                </p>
                <div class="project__link">
                    <a href="#" > See Project </a>            
                </div>
            </div>
            <div class="project">
                <h1>Project #3</h1>
                <p class="project__language">C#</p>
                <p>
                    Lorem ipsum dolor sit amet. Aut quia voluptatem ex vero dolores cum sint cumque ut asperiores
                    laborum aut aspernatur repellat cum ipsam quaerat. Et cupiditate natus eos fugiat optio quo mollitia
                    libero! Quo amet distinctio aut suscipit porro et dolorum nisi et inventore debitis vel quaerat
                    voluptatem.
                </p>
                <div class="project__link">
                    <a href="#" > See Project </a>            
                </div>
            </div>
            <div class="project">
                <h1>Project #3</h1>
                <p class="project__language">C#</p>
                <p>
                    Lorem ipsum dolor sit amet. Aut quia voluptatem ex vero dolores cum sint cumque ut asperiores
                    laborum aut aspernatur repellat cum ipsam quaerat. Et cupiditate natus eos fugiat optio quo mollitia
                    libero! Quo amet distinctio aut suscipit porro et dolorum nisi et inventore debitis vel quaerat
                    voluptatem.
                </p>
                <div class="project__link">
                    <a href="#" > See Project </a>            
                </div>
            </div>
        </div>

        <div class="hobbies">
            <h2>Hobbies</h2>
            <ul>
                <li>Video Games</li>
                <li>Reading</li>
            </ul>
        </div>

        <div class="contact">
            <h1>Let's Get in Touch!</h1>
            <div class="contact__link">
                <a href="#">Github</a>
            </div>
            <div class="contact__link">
                <a href="#">Github</a>
            </div>
            <div class="contact__link">
                <a href="#">Github</a>
            </div>
            

        </div>
    </div>
    <script src="" async defer></script>
</body>

</html>