{% extends 'portfolios/base.html'%} {% block content %}
<div class="jumbotron">
  <h2 class="jumbotron__slogan">
    Create a Portfolio <span class="jumbotron__emphasis">in Seconds.</span>
  </h2>
  <p class="jumbotron__lead">
    Don't waste time writing your own HTML, CSS, Javascript. Don't worry about
    picking AWS, Azure, or Google Cloud.
  </p>
  <p>
    Create a Devfolio and quickly show off your skills to potential employers
  </p>
  <a href="{% url 'register' %}">Sign up</a>
</div>

<div class="list">
  <div class="list__item">
    <h2>Show off Projects</h2>
  </div>
  <div class="list__item">
    <h2>Tell Your Story</h2>
  </div>
  <div class="list__item">
    <h2>Link All Your Socials</h2>
  </div>
</div>
{% endblock %}
