@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    font-family: "Roboto Mono", serif;
    color: #2c3e50;
}

button {
    outline: none;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: .5rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
}

.navbar {
    display: flex;
}

.headliner {
    flex: 0 0 85%;
}

.headliner__title {
    font-size: 2.5rem;
    font-weight: 350;
    padding: .5rem 1rem 0 1rem;
    margin-bottom: 0;
}

.title--italicized {
    font-weight: 200;
    letter-spacing: .3rem;
    color: #3498db;
    
}

.headliner__blurb {
    margin-top: -.5rem;
    padding: 0 1rem 0 1rem;
}

.links {
    flex: 0 0 15%;
    display: flex;  
}

.links > div {
    flex: 0 0 50%;
    align-content: center;
}

.content {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    margin-top: 2rem;
}

/*
*
*   Homepage Styling
*
*/
.jumbotron {
    text-align: center;
    background-color: #ecf0f1;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
}
.jumbotron__slogan {
    font-size: 2.5rem;
}

.jumbotron__emphasis {
    color: #3498db;
}

.jumbotron__lead {
    padding: 1rem;
    border-bottom: 2px solid #ddd;
}

.list {
    display: flex;
    margin-top: 5rem;
}

.list__item {
    flex: 0 0 33%;
    text-align: center;
}

.list__text {
    padding: 1rem;
}

.portfolio-form {
    margin: auto;
    background-color: rgb(236, 240, 241);
    max-width: 80%;
    padding: 0 2rem 1rem 2rem;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ddd;
}
    .portfolio-form > div {
        margin: 1rem;
    }
    .portfolio-form > div > input {
        border-radius: 5px;
        outline: 1px solid rgb(149, 165, 166);
        border: none;
        padding: .5rem;
        text-align: center;
        transition-duration: 150ms;
    }

    .portfolio-form > div > input:focus {
        outline: 2px solid #3498db;
        transform: scale(1.1);
    }

    .submit-btn {
        background-color: #3498db;
        color: white;
        padding: .5rem 1rem .5rem 1rem;
        outline: none;
        border: none;
        transition-duration: 150ms;
    }
    
    .submit-btn:hover {
        padding-left: 2rem;
        padding-right: 2rem;
    }